name: release
on:
  push:
    tags:
      - '*'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with:
        python-version: '3.x'
    - run: |
        python -m pip install --upgrade pip
        pip install build twine
    - env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        version=$(git describe --tags --always)
        sed -i 's/^__version__ = .*$/__version__ = "'"${version}"'"/' \
          src/wheezy/template/__init__.py
        python -m build --sdist
        twine upload dist/*
    - uses: softprops/action-gh-release@v2
